.table-data
    width: 100%
    &-head
        width: 100%
    &-title
        width: auto
        max-width: 2rem
    &-colunm
        text-align: center
        padding: 1rem
        max-width: 2rem
    